<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body has-text-centered {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
            <h1 class="title is-3">
                <a href="{{ '/about' | relative_url  }}">{{ page.title }}</a>
            </h1>
            <p class="subtitle is-2">
                <a href="{{ '/about' | relative_url  }}">{{ page.subtitle }}</a>
            </p>
            {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
            {% endif %}
            <div class="columns">
                <div class="column">
                    <h1 class="title is-1">
                        <a href="{{ '/projects' | relative_url }}">Projects</a>
                    </h1>
                </div>
                <div class="column">
                    <h1 class="title is-1">
                        <a href="{{ '/music' | relative_url }}">Music</a>
                    </h1>
                </div>
                <div class="column">
                    <h1 class="title is-1">
                        <a href="{{ '/contact' | relative_url }}">Contact</a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
