---
layout: default
---

<div class="columns is-multiline">

    <div class="column is-6">
        <figure class="image is-4by4">
            <img src="{{ page.image }}" />
        </figure>
    </div>

    <div class="column is-6">
        <p class="title is-3">{{ page.title }}</p>
        <p class="title is-4 has-text-right">{{ page.date | date: "%b %Y" }}</p>
        {% if page.project_code %}
        <p class="subtitle is-5 has-text-right">{{ page.project_code }}</p>
        {% endif %}

        <div class="content">
            {{ content }}
        </div>
    </div>

</div>

